section#main.column

      article.module.width_3_quarter
        header
          h3.tabs_involved 回報問題
        .tab_container
          #tab1.tab_content
            table.tablesorter(cellspacing='0')
              thead
                tr
                  th(width='29%') facebook帳號
                  th(width='13%') 問題類型
                  th(width='14%') 手機版本
                  th(width='18%') 時間
                  th(width='14%') 狀態
                  th(width='12%') 備註
              tbody
                tr
                  td Lorem Ipsum Dolor Sit Amet
                  td
                    span.label.label-account 帳號
                  td iPhone 6.0.1
                  td 20130522 14:30
                  td
                    span.label.label-unreply 未回覆
                  td
                    textarea(name='', cols='', rows='')


      article.module.width_quarter
        header
          h3 問與答
        .message_list
          .module_content
            .message
              p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.
              p
                strong John Doe
                em  20130205 14:30
            .reply
              p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.
              p
                strong Dora Su
                em  20130205 14:30

        footer
          .row
            select#select(name='select', size='1')
              option 問題一
              option 問題二
              option 問題三
              option 問題四
              option 問題五
          .row
            textarea(name='', cols='80%')
            input(name='', type='button', value='送出')

      table#paging-table(border='0', cellpadding='0', cellspacing='0')
        tr
          td
            a.page-far-left(href='')
            a.page-left(href='')
            #page-info
              | Page
              strong 1
              | / 15
            a.page-right(href='')
            a.page-far-right(href='')
          td
            select.styledselect_pages
              option(value='') Number of rows
              option(value='') 1
              option(value='') 2
              option(value='') 3

